/*
  Template © 2025 Inna Web Boutique
  License: for personal use only. Resale prohibited.
*/

@import url('reset.css');

/* Flex wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

body{
   font-family: "Pacifico", cursive;
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
  
}

/******************************/
:root {
  --body-color: #F2D7D9;
  --hover-color: #dd999e; /* default */
  --text-color: #323030;
}
/******************************/

/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
}

.header_name {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 200;
  font-size: 5rem;
  flex-wrap: wrap;
  color: var(--text-color);
}

.header_book {
  align-self: center;
}

.book-now {
  padding: 12px 24px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--text-color);
  transition: all 0.5s ease;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
}

.book-now:hover {
  background-color: var(--hover-color);
}

/**************************/

main {
  padding-inline: 16px;
}

section {
  padding: 2rem 1rem;
  max-width: 1400px;
  margin-inline: auto;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 1rem;
}

.none {
  display: none;
}

/*Carousel*/

.carousel {
  position: relative;
  width: 100%;
  margin: 20px auto;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  min-width: 100%;
}

.carousel-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--hover-color);
  opacity: 0.9;
  color: #fff;
  border: none;
  padding: 30px 20px;
  cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }


/*Hero*/

.hero {
  display: flex;
  gap: 1rem;
}

.hero_image {
  flex: 0 0 40%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
}

.hero_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slogan {
  padding: 20px;
  text-align: center;
  align-self: center;
}


.slogan_title {
  font-weight: 500;
  font-size: 3rem;
  font-style: italic;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
}

.hero_block {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  justify-content: space-around;
}

.hero_description {
  text-align: justify;
  font-weight: 100;
  font-size: 1.5rem;
  padding: 20px;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
}

.description {
  font-size: 1.5rem;
  font-style: italic;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
  padding: 20px;
}



/* === Product Carousel 2 === */

.product-carousel-2 {
  max-width: 100%;
  margin: 40px auto;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
}

.pc2-container {
  position: relative;
  overflow: hidden;
}

.pc2-window {
  overflow: hidden;
  width: 100%;
}

.pc2-track {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.pc2-slide {
  min-width: 250px;
  background: #ecebeb;
  text-align: center;
}

.pc2-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pc2-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--hover-color);
  opacity: 0.9;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  padding: 20px 15px;
  z-index: 5;
}

.pc2-prev { left: 10px; }
.pc2-next { right: 10px; }

/*Services*/

.services_block {
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
  padding: 40px;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.services {
  list-style: none;
  padding: 0;
}

.services li {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid var(--text-color);
}

.service-name {
  font-weight: bold;
  transition: color 0.4s;
}

.service-name:hover {
  color: var(--hover-color)
}

.service-price {
  font-weight: 600;
  color: var(--text-color);
  transition: color 0.4s;
}

.service-price:hover {
  color: var(--hover-color);
}


/*Gallery*/

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery-grid a {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
}

.gallery-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
  display: block;
}

.gallery-grid img:hover {
  transform: scale(1.05);
  filter: brightness(1.05);
}

.gallery-more {
  display: flex;
  justify-content: flex-end;
}

.btn-more {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 12px 24px;
  transition: all 0.5s ease;
}

.btn-more:hover {
  background: var(--hover-color);
  padding: 12px 24px;
}

.gallery-back {
  display: flex;
  justify-content: flex-end;
}

.btn-back {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 12px 24px;
  transition: all 0.5s ease;
}

.btn-back:hover {
  background: var(--hover-color);
  padding: 12px 24px;
}

/* Footer */

footer {
  box-shadow: 0 0 15px rgba(68, 76, 92, 0.6);
  padding: 20px;
  text-align: center;
}

.contact_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contact_block a {
  color: var(--text-color);
  padding: 8px;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.contact_block a:hover {
  background-color: var(--hover-color);
  padding: 8px;
  border-radius: 10px;
}

.address {
  text-align: center;
}
/* Adaptive */

@media(max-width: 1116px) {

.header{
    margin-bottom: 20px;
  }

section{
  padding: 1rem 1rem;
}

.hero{
  flex-direction: column;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem;
}

.contact_block{
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
}

@media (max-width: 768px) {

  .header{
    flex-direction: column;
  }

.slogan{
  padding: 1rem;
}

.slogan_title{
  font-size: 2rem;
}

.about_description{
  padding: 1rem;
}

section{
  margin-bottom: 0;
  padding: 0 0;
}

.services_block{
  flex-direction: column;
  width: 100%;
}

.services_list{
  width: 80%;
}

.services_block{
  padding: 20px;
  max-width: 100%;
}
}

@media (max-width: 640px) {

.slogan_title {
  font-size: 1.8rem;
}

.address {
  margin-bottom: 1rem;
}

.footer{
  font-size: 0.8rem;
}

}

@media (max-width: 576px) {
 
.header_name{
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.book-now {
  font-weight: 400;
  font-size: 1.2rem;
}

.header_book{
  margin-bottom: 1rem;
}

.carousel-btn {
  padding: 15px 10px;
}

.pc2-btn {
  padding: 10px 8px;
}

.hero_description {
  font-weight: 400;
  font-size: 1.2rem;
}

.description {
  font-size: 1.5rem;
}
}

@media (max-width: 320px){
   header{
    padding: 14px;
  }
}


/*
  Template © 2025 Inna Web Boutique 
  Author: Inna Hiliarovska
  License: Personal use only. Resale prohibited.
*/